<!-- <p>print works!</p> -->
<div class="holder testbr">
        <div class="container-main ">
            <div class="row1 comman ">
                <div class="row-col1 testbr">
                    Prop : <br>
                    Mob : <br>
                    GSTIN : <br>
                </div>
                <div class="row-col2 testbr">
                    <!-- <img src="image001.png" alt="" width="315"> -->
                </div>
            </div>
            <div class="row2 comman ">
                <div class="row-col3 testbr">
                    Stamp
                </div>
                <div class="row-col4 testbr">
                    <div class="p1 testbr">
                        <div class="p11 testbr">State</div>
                        <div class="p11 testbr">2</div>
                        <div class="p11 testbr">7</div>
                    </div>
                    <div class="p2 p211 testbr">
                        <div class="p12 testbr">Gst invoice / Making invoice</div>
                        <div class="p112 testbr">
                            Invoice No : <br>
                            Invoice Date : <br>
                            Voucher No : <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row3 comman ">
                <div class="p3 testbr" style="background-color: #ff6c3294;">
                    <div class="p31 testbr">Sr No.</div>
                    <div class="p31 testbr">DESCRIPTION</div>
                    <div class="p31 testbr">HSN /SAC</div>
                    <div class="p31 testbr">GROSS WT</div>
                    <div class="p31 testbr">NET WT</div>
                    <div class="p31 testbr">LABOUR RATE</div>
                    <div class="p31 testbr">AMOUNT</div>
                </div>
                <div class="p3 testbr">
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                    <div class="p32 testbr"></div>
                </div>
            </div>
            <div class="row4 comman ">
                <div class="p4 testbr">
                    <div class="p41 testbr">
                        Bank Details : <br>
                        A/c. No. :
                    </div>
                    <div class="p41 canvas testbr">
                        <div class="p42 testbr">Recieved By : <br><app-canvas></app-canvas></div>
                        <div class="p42 testbr">From Wageshwari Gold and Co. :  <br><app-canvas></app-canvas></div>
                    </div>
                </div>
                <div class="p4 testbr">
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Other Charges</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Total</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Taxable amount</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Total Cgst</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Total Sgst</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Total Igst</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Rounding Off</div>
                        <div class="p431 testbr"></div>
                    </div>
                    <div class="p43">
                        <div class="p431 testbr" style="background-color: #ff6c3294;">Invoice Total</div>
                        <div class="p431 testbr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
